<main class="form-signin">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <h1 class="h3 mb-3 fw-normal">Please Login</h1>

    <label class="form-label" for="">Email</label>
    <div class="form-floating">
      <input #userName="ngModel" [(ngModel)]="model.userName" id="userName" name="userName"  type="text" class="form-control" placeholder="UserName">
      <label for="floatingInput">Email address</label>
    </div>

    <label class="form-label" for="">Password</label>
    <div class="form-floating">
      <input #password="ngModel" [(ngModel)]="model.password" id="password" name="password" type="password" class="form-control"  placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">LogIn</button>
  </form>
</main>